body{
    margin:0px;
}
.nav_menu{
    height: 80px;
    display: flex;
    background-color:#58695d ;
}
.nav_menu>div:first-child{
    width: 30%;
    justify-content: center;
    display: flex;
}
.nav_menu>div:last-child{
    width: 70%;
}
.menu{
    display:flex ;
}
.menu > li{
    margin: 0px 20px;
    list-style: none;
}
.menu > li > a{
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: 600ms;
    border-bottom: 1px solid transparent;
}
.menu > li > a:hover{
    border-color: black;
}
.flex{
    display: flex;
}
.info_section{
    width: 70%;
    background-color: white;
    justify-content: center;
    padding-left: 10%;
    color: black;
}
.info_section.flex{
    flex-direction: column;
}
